body{
    color: #084;
    background-color: #333;
    text-align: justify;
}
p{
    font-size: 18px;
}
h1{
    text-align: center;
    font-size: 42px;
}
h2{
    font-size: 32px;
}
a{
    text-decoration: none;
    color: #088;
}
.h{
    display: flex;
    flex-direction: row;
}
.left{
    width: 10vw;
}
.left, .main{
    border: #555 2px solid;
    padding: 20px;
    height: 85vh;
    background-color: #222;
}
.left{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.main{
    border-radius: 20px;
    width: 100%;
}