body{
    color: #084;
    background-color: #333;
    text-align: left;
}
p, a{
    font-size: 1.5vw;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 5vw;
}
h2{
    font-size: 3vw;
}
a{
    text-decoration: none;
    color: #088;
}
img{
    width: 100%;
    height: auto;
}
/*In .code*/
.code{
    color: white;
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
    width: initial;
    margin-top: 50px;
}
.r{
    color: rgb(137, 247, 255);
}
.y{
    color: yellow;
}
.logo{
    width: 50%;
}
.h{
    display: flex;
    flex-direction: row;
}
.left{
    width: 20vw;
}
.left, .main{
    border: #555 2px solid;
    min-height: 85vh;
    background-color: #222;
}
.left{
    padding: .5vw;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}
.main{
    padding: 2vw;
    border-radius: 20px;
    width: 100%;
}
.Link{
    padding-top: 20px;
}